<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- <link rel="stylesheet" href="../../public/css/bootstrap.min.css" /> -->
    <script type="text/javascript" src="../../public/js/jquery-3.2.1.min.js"></script>
    <!-- <script type="text/javascript" src="../../public/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="../../public/trumbowyg/dist/ui/trumbowyg.min.css">
    <link rel="stylesheet" href="../../public/css/jean.css">
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <header>
        <a href="../home.html" class="devnetwork"><img src="../../public/images/logo.png" alt="logo"><h1>devNetwork</h1></a>
        <nav><a href="../profil.html">Profil</a> <a href="../registration.html">Login</a> <a href="../publication.html">publicationDEMO</a> <a href="post/post_create.html">creaPubliDEMO</a></nav>    
    </header>
    <main class="wrapper aligner publicat">
        <div class="container post">
            <div class="row">
                <form id="post_form" method="POST">
                    <div class="col-lg-8">
                        <div class="post_container">
                            <h2>snippet</h2>
                            <label for="title">Titre</label>
                            <input type="text" id="title" placeholder="Entrez un Titre">
                            <div id="editor"></div>
                        </div>
                        <div class="col">
                            <label>Text/Snippet</label>
                            <select id="type" name="type">
                                <option value="snippet">Snippet</option>
                                <option value="text">Text</option>
                            </select>
                            <label for="language">Language</label>
                            <select id="language" name="language">
                                <option value="javascript">Javascript</option>
                                <option value="abap">abap</option>
                                <option value="abc">abc</option>
                                <option value="actionscript">actionscript</option>
                                <option value="ada">ada</option>
                                <option value="apache_conf">apache</option>
                                <option value="applescript">applescript</option>
                                <option value="asciidoc">asciidoc</option>
                                <option value="assembly_x86">assembly_x86</option>
                                <option value="autohotkeys">autohotkeys</option>
                                <option value="batchfile">batchfile</option>
                                <option value="behaviour">behaviour</option>
                                <option value="bro">bro</option>
                                <option value="c9search">c9search</option>
                                <option value="c_cpp">c_cpp</option>
                                <option value="clojure">clojure</option>
                                <option value="cobol">cobol</option>
                                <option value="coffee">coffee</option>
                                <option value="coldfusion">Saab</option>
                                <option value="csharp">coldfusion</option>
                                <option value="css">css</option>
                                <option value="curly">curly</option>
                                <option value="d">d</option>
                                <option value="dart">dart</option>
                                <option value="diff">diff</option>
                                <option value="django">django</option>
                                <option value="dockerfile">dockerfile</option>
                                <option value="dot">dot</option>
                                <option value="drools">drools</option>
                                <option value="eiffel">eiffel</option>
                                <option value="elixir">elixir</option>
                                <option value="elm">elm</option>
                                <option value="erlang">erlang</option>
                                <option value="forth">forth</option>
                                <option value="fortran">fortran</option>
                                <option value="ftl">ftl</option>
                                <option value="gcode">gcode</option>
                                <option value="gherkin">gherkin</option>
                                <option value="gitignore">gitignore</option>
                                <option value="glsl">glsl</option>
                                <option value="gobstones">gobstones</option>
                                <option value="golang">golang</option>
                                <option value="graphqlschema">graphqlschema</option>
                                <option value="groovy">groovy</option>
                                <option value="haml">haml</option>
                                <option value="handlebars">handlebars</option>
                                <option value="haskell">haskell</option>
                                <option value="haskell_cabal">haskell_cabal</option>
                                <option value="haxe">haxe</option>
                                <option value="hjson">hjson</option>
                                <option value="html">html</option>
                                <option value="html_elixir">html_elixir</option>
                                <option value="html_ruby">html_ruby</option>
                                <option value="ini">ini</option>
                                <option value="io">io</option>
                                <option value="jack">jack</option>
                                <option value="jade">jade</option>
                                <option value="java">java</option>
                                <option value="javascript">javascript</option>
                                <option value="json">json</option>
                                <option value="jsoniq">jsoniq</option>
                                <option value="jsp">jsp</option>
                                <option value="jsx">jsx</option>
                                <option value="julia">julia</option>
                                <option value="kotlin">kotlin</option>
                                <option value="latex">latex</option>
                                <option value="less">less</option>
                                <option value="liquid">liquid</option>
                                <option value="lisp">lisp</option>
                                <option value="livescript">livescript</option>
                                <option value="logiql">logiql</option>
                                <option value="lsl">lsl</option>
                                <option value="lua">lua</option>
                                <option value="luapage">luapage</option>
                                <option value="lucene">lucene</option>
                                <option value="makefile">makefile</option>
                                <option value="markdown">markdown</option>
                                <option value="mask">mask</option>
                                <option value="matlab">matlab</option>
                                <option value="maze">maze</option>
                                <option value="mel">mel</option>
                                <option value="mushcode">mushcode</option>
                                <option value="mysql">mysql</option>
                                <option value="nix">nix</option>
                                <option value="objectivec">objectivec</option>
                                <option value="ocaml">ocaml</option>
                                <option value="pascal">pascal</option>
                                <option value="perl">perl</option>
                                <option value="pgsql">pgsql</option>
                                <option value="php">php</option>
                                <option value="pig">pig</option>
                                <option value="plain_text">plain_text</option>
                                <option value="powershell">powershell</option>
                                <option value="praat">praat</option>
                                <option value="prolog">prolog</option>
                                <option value="properties">properties</option>
                                <option value="protobuf">protobuf</option>
                                <option value="python">python</option>
                                <option value="r">r</option>
                                <option value="razor">razor</option>
                                <option value="rdoc">rdoc</option>
                                <option value="rhtml">rhtml</option>
                                <option value="rst">rst</option>
                                <option value="ruby">ruby</option>
                                <option value="rust">rust</option>
                                <option value="sass">sass</option>
                                <option value="scad">scad</option>
                                <option value="scala">scala</option>
                                <option value="scheme">scheme</option>
                                <option value="scss">scss</option>
                                <option value="sh">sh</option>
                                <option value="sjs">sjs</option>
                                <option value="smarty">smarty</option>
                                <option value="snippet">snippet</option>
                                <option value="soy_template">soy_template</option>
                                <option value="space">space</option>
                                <option value="sparql">sparql</option>
                                <option value="sql">sql</option>
                                <option value="sqlserver">sqlserver</option>
                                <option value="stylus">stylus</option>
                                <option value="svg">svg</option>
                                <option value="swift">swift</option>
                                <option value="tcl">tcl</option>
                                <option value="tex">tex</option>
                                <option value="text">text</option>
                                <option value="textile">textile</option>
                                <option value="toml">toml</option>
                                <option value="tsx">tsx</option>
                                <option value="turtle">turtle</option>
                                <option value="twig">twig</option>
                                <option value="typescipt">typescipt</option>
                                <option value="vala">vala</option>
                                <option value="vbscript">vbscript</option>
                                <option value="velocity">velocity</option>
                                <option value="verilog">verilog</option>
                                <option value="vhdl">vhdl</option>
                                <option value="wollock">wollock</option>
                                <option value="xml">xml</option>
                                <option value="xquery">xquery</option>
                                <option value="yaml">yaml</option>
                            </select>
                            <label for="theme">theme</label>
                            <select id="theme" name="theme">
                                <option value="ambiance">ambiance</option>
                                <option value="chaos">chaos</option>
                                <option value="chrome">chrome</option>
                                <option value="clouds">clouds</option>
                                <option value="clouds_midnight">clouds_midnight</option>
                                <option value="cobalt">cobalt</option>
                                <option value="crimson_editor">crimson_editor</option>
                                <option value="dawn">dawn</option>
                                <option value="dreamweaver">dreamweaver</option>
                                <option value="eclipse">eclipse</option>
                                <option value="github">github</option>
                                <option value="gob">gob</option>
                                <option value="gruvbox">gruvbox</option>
                                <option value="idle_fingers">idle_fingers</option>
                                <option value="iplastic">iplastic</option>
                                <option value="katzenmilch">katzenmilch</option>
                                <option value="kr_theme">kr_theme</option>
                                <option value="kuroir">kuroir</option>
                                <option value="merbivore">merbivore</option>
                                <option value="merbivore_soft">merbivore_soft</option>
                                <option value="mono_industrial">mono_industrial</option>
                                <option value="monokai">monokai</option>
                                <option value="pastel_on_dark">pastel_on_dark</option>
                                <option value="solarized_dark">solarized_dark</option>
                                <option value="solarized_light">solarized_light</option>
                                <option value="sqlserver">sqlserver</option>
                                <option value="terminal">terminal</option>
                                <option value="textmate">textmate</option>
                                <option value="tomorrow">tomorrow</option>
                                <option value="tomorrow_night">tomorrow_night</option>
                                <option value="tomorrow_night_blue">tomorrow_night_blue</option>
                                <option value="tomorrow_night_bright">tomorrow_night_bright</option>
                                <option value="tomorrow_night_eighties">tomorrow_night_eighties</option>
                                <option value="twilight">twilight</option>
                                <option value="vibrant_ink">vibrant_ink</option>
                                <option value="xcode">xcode</option>
                            </select>
                            <button id="post_bttn">publish</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="minifooter">
            <p>© 2017 devNetwork</p> <a href="#">Contact</a> <a href="#">Conditions</a>
            <a href="#">Politique de confidentialité</a> <a href="#">Publicité</a>
        </div>
    </footer>
    <script src="../../public/trumbowyg/dist/trumbowyg.min.js"></script>
    <script src="../../public/js/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var type = $("#type").val();
        var language = $("#language").val();
        var theme = $("#theme").val();

        if (type === "snippet")
        {
            language = $("#language").val();
            theme = $("#theme").val();
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/" + theme);
            editor.getSession().setMode("ace/mode/" + language);
            document.getElementById("theme").disabled = false;
            document.getElementById("language").disabled = false;
        }

        else if (type === "text") {

            $('#editor').trumbowyg({btns: [
                ['viewHTML'],
                ['formatting'],
                'btnGrp-semantic',
                ['link'],
                'btnGrp-justify',
                'btnGrp-lists',
                ['horizontalRule'],
                ['removeformat'],
                ['fullscreen']
                ]});
            document.getElementById("theme").disabled = true;
            document.getElementById("language").disabled = true;
        }

        $("#language").change(function () {
            language = $("#language").val();
            editor.getSession().setMode("ace/mode/" + language);
        });

        $("#theme").change(function () {
            theme = $("#theme").val();
            editor.setTheme("ace/theme/"+theme);
        });


        $("#type").change(function (){
            type = $("#type").val();

            if (type === "text")
            {
                var value =  editor.getValue();
                editor.destroy();
                $("#editor").empty();
                document.getElementById("editor").className = "trumbowyg-editor";
                $('#editor').trumbowyg({btns: [
                    ['viewHTML'],
                    ['formatting'],
                    'btnGrp-semantic',
                    ['link'],
                    'btnGrp-justify',
                    'btnGrp-lists',
                    ['horizontalRule'],
                    ['removeformat'],
                    ['fullscreen']
                    ]});
                $('#editor').trumbowyg('html', value);
                document.getElementById("language").disabled = true;
                editor.setTheme("ace/theme/" + theme);

            }

            else if (type === "snippet") {

                var doc = document.getElementById("editor");
                var value = doc.textContent;
                $('#editor').trumbowyg('destroy');
                language = $("#language").val();
                theme = $("#theme").val();
                editor = ace.edit("editor");
                editor.setTheme("ace/theme/" + theme);
                editor.getSession().setMode("ace/mode/" + language);
                editor.setValue(value);
                document.getElementById("language").disabled = false;
            }

        });


        $("#post_bttn").click(function( event ) {
            event.preventDefault();});
        </script>

    </body>
    </html>