<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="public/img/logo.png" />
    <title>devNetwork</title>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Roboto" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/font-awesome.css">
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
	<header>
		<a href="home.html" class="devnetwork"><img src="../public/images/logo.png" alt="logo"><h1>devNetwork</h1></a>
        <nav><a href="profil.html">Profil</a> <a href="registration.html">Login</a> <a href="publication.html">publicationDEMO</a> <a href="post_create.html">creaPubliDEMO</a></nav>  
	</header>
	<main class="wrapper aligner profil">
		<img class="imageProfil" src="../public/images/fakeprofil.jpg" alt="photo de profil">
		<h1>Linkharkat</h1>
		<!-- <h2>Dejour Adam</h2> <-->
		<div class="encadrement">
			<div class="cadre mainSkill">
				<h2>Skill</h2>
				<div class="skill">
					<img src="../public/images/skill/html5.svg" alt="html5">
					<img src="../public/images/skill/css3.svg" alt="css3">
					<img src="../public/images/skill/less.svg" alt="less">
					<img src="../public/images/skill/js.svg" alt="javascript">
					<img src="../public/images/skill/vue.svg" alt="vue">
					<img src="../public/images/skill/php.svg" alt="php">
					<img src="../public/images/skill/mysql.svg" alt="mysql">
				</div>
			</div>
			<div class="cadre mainEntreprise">
				<h2>Entreprise</h2>
				<table class="entreprise">
					<tr>
						<td>Airbus</td>
						<td>Back-End</td>
					</tr>
					<tr>
						<td>Dior</td>
						<td>Back-End</td>
					</tr>
					<tr>
						<td>Cartier</td>
						<td>Front-End</td>
					</tr>
					<tr>
						<td>Tesla</td>
						<td>Front-End</td>
					</tr>
					<tr>
						<td>Victorinox</td>
						<td>UX/UI</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="biographie">
			<h3>Biographie</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat cumque exercitationem nam veniam provident earum odit non aperiam assumenda temporibus eaque fugiat, modi ipsam, fugit, aliquid? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, rerum! Blanditiis cupiditate libero doloribus et maxime, fugit in saepe? Nam ad ex numquam amet esse tenetur quo cupiditate eius vel!
			</p>
		</div>
		<a href="" class="mail"><h2>julie.delacours@gmail.com</h2></a>
	</main>
	<footer>
		<div class="minifooter">
		<p>© 2017 devNetwork</p> <a href="#">Contact</a> <a href="#">Conditions</a>
			<a href="#">Politique de confidentialité</a> <a href="#">Publicité</a>
		</div>
	</footer>
	<script	src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
	<script src="../public/js/jquery.min.js"></script>
</body>
</html>