<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="public/img/logo.png" />
    <title>devNetwork</title>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Roboto" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/font-awesome.css">
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
	<header>
		<a href="home.html" class="devnetwork"><img src="../public/images/logo.png" alt="logo"><h1>devNetwork</h1></a>
        <nav><a href="profil.html">Profil</a> <a href="registration.html">Login</a> <a href="publication.html">publicationDEMO</a> <a href="post_create.html">creaPubliDEMO</a></nav>  
	</header>
	<main class="wrapper aligner publication">
		<div class="publish">
			<h3>Linkharkat</h3>
			<div class="content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt tempore unde, dolorum animi quam modi iste laboriosam excepturi aliquam incidunt necessitatibus delectus ea, tenetur atque quas consectetur, qui eveniet aut.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam totam tenetur, ducimus velit aspernatur vel quibusdam accusantium itaque cum, eos porro praesentium. Labore at voluptates nisi cum perspiciatis sunt.</p>
			</div>
			<div class="bar">
				<button class="buttonLike"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
				<button class="buttonDislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>
				<button class="buttonReport"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></button>
			</div>
		</div>
		<div class="comment">

		</div>
	</main>
	<footer>
		<div class="minifooter">
			<p>© 2017 devNetwork</p> <a href="#">Contact</a> <a href="#">Conditions</a>
			<a href="#">Politique de confidentialité</a> <a href="#">Publicité</a>
		</div>
	</footer>
	<script src="../public/js/fancyButton.js"></script>
	<script	src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
	<script src="../public/js/jquery.min.js"></script>
</body>
</html>