/*==============================
=            Global            =
==============================*/
#962D3E
#343642
#979C9C
#F2EBC7
#348899
#EDEDED

html {
	font-size: 62.5%;	
}
body {
	background-color: #FFFDFA;
	font-family: 'Roboto', sans-serif;
	line-height: 1.8;
	letter-spacing: 0.5px;
	font-size: 1rem;
	color: #343642;
	margin: 0;
	padding: 0;	
}
h1, h2, h3 {
	font-family: 'Fjalla One', sans-serif;
	color: #962D3E;
	margin: 0;
}
.wrapper {
	width: 70%;
	max-width: 700px;
	margin: 0 auto;
	min-height: 757px;
}
@-moz-document url-prefix() {
	.wrapper {
		min-height: 736px;
	}
}
a {
	text-decoration: none;
	color: #348899;
}
.aligner {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.alignerItem {
	max-width: 50%;
}
.contentFix {
	width: 150%;
	height: auto;
}
.publishedFlowFix {
	margin-top: 100px;
}


/*==============================
=            Header            =
==============================*/

/**Code de Manu**/
.flashMsg {
    display: block;
    text-align: center;
    color: #515151;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin: 4px 50px 4px 50px;
}
.flashMsg-alert {
    background-color: #F2DEDE;
    border-color: #EBCCD1;
}
.flashMsg-warning {
    background-color: #FCF8E3;
    border-color: #FAEBCC;
}
.flashMsg-success {
    background-color: #DFF0D8;
    border-color: #DFF0D8;
}
.flashMsg-info {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}
.flashMsg > span {
    display: inline-block;
    float: right;
    padding-right: 15px;
    cursor: pointer;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.devnetwork {
	display: flex;
	justify-content: flex-start;
}
.devnetwork img {
	height: 50px;
	padding-right: 10px;
	padding-top: 15px;
}
header h1 {
	color: #962D3E;
}
nav a {
	padding: 10px;
}
.titreDevNet {
	margin-top: 22px;
}

/*============================
=            Home            =
============================*/

.home {
	text-align: center;
}
.home input {
	padding: 5px;
	margin: 5px;
}

/*=============================
=            Users            =
=============================*/

.list_user {
	margin: 50px;
	border: 1px solid #DBB5BB;
	border-radius: 10px;
	padding: 5px;
}
.list_user:hover {
	border: 1px solid #962D3E;
}

/*====================================
=            Registration            =
====================================*/

.register {
	text-align: center;
}
.spechrome {
	text-align: right;
}
.register input {
	padding: 5px;
	margin: 5px;
}
.submit {
	margin-top: 20px;
	transition: all 0.5s;
	border: none;
	border-radius: 10px;
	padding: 5px 10px;
	color: white;
	background-color: #962D3E;
}
.submit a {
	color: white;
}
.spanSubmit {
	display: inline-block;
	position: relative;
	transition: all 0.2s;
}
.spanSubmit:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.2s;
}
.submit:hover .spanSubmit {
	padding-right: 20px;
}
.submit:hover .spanSubmit:after{
	opacity: 1;
	right: 0;
}
@-moz-document url-prefix() {
	.spechrome {
		text-align: center;
	}
}
.mainRegistration {
	margin-bottom: 50px;
}
/*==============================
=            Profil            =
==============================*/

.profil {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}
.encadrement {
	display: flex;
	flex-direction: row;
	padding-bottom: 20px;
	margin-top: 50px;
}
.cadre {
	padding: 30px;
	width: 50%;
	background: hsla(0,0%,100%,.25) border-box;
	box-shadow: 0 0 0 0 hsla(0,0%,100%,.3) inset,
	0 .5em 1em rgba(0, 0, 0, 0.2);
}
.cadre h2 {
	text-align: center;
	margin: 0;
	padding: 5px;
}
.entreprise {
	border-collapse: collapse;
	background-color: #FFFDFA;
	width: 250px;
	text-align: center;
}
.entreprise tr:nth-child(odd) {
	background-color: #FBAB7E;
	background-image: linear-gradient(45deg, #FFFDFA 0%, #F7CE68 200%);
}
.entreprise tr:nth-child(even) {
	background-color: #FBAB7E;
	background-image: linear-gradient(45deg, #FFFDFA 0%, #F2EBC7 200%);
}
.entreprise td {
	padding: 0 10px;
}
.identity {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.imageProfil {
	margin-top: 50px;
	height: 125px;
	border-radius: 50%;
	border: 3px solid #962D3E;
}
.skill {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.skill img {
	height: 50px;
	padding: 5px;
	width: 250px;
}
.biographie {
	padding: 0 15px;
	background: hsla(0,0%,100%,.25) border-box;
	box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset,
	0 .5em 1em rgba(0, 0, 0, 0.2);
	margin: 50px 0 0 0;
	background-color: #FBAB7E;
	background-image: linear-gradient(180deg, #FFFDFA 0%, #F7CE68 150%);
	width: 600px;
	min-height: 150px;
}
.biographie h3 {
	margin-top: 15px;
}
.biographie p {
	margin-top: 0;
}
.mail {
	padding-top: 50px;
}

/*============================================
=            Creation Publication            =
============================================*/

#publierButton {
	background-color: #82BF56;
	border-radius: 10px;
	border: 0;
	padding: 0 10px;
	transition: 0.5s;
}
#publierButton:hover {
	background-color: #68e270;
}


/*===================================
=            Publication            =
===================================*/

.publication {
	width: 70%;
	max-width: 600px;
	margin: 0 auto;
	min-height: 757px;
}
.publish {
	margin: 0;
	margin-bottom: 50px;
	padding: 2px 10px;
	background: hsla(0,0%,100%,.25) border-box;
	box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset,
	0 .5em 1em rgba(0, 0, 0, 0.2);
}
.titlePublish {
	margin: 0;
}
.content {
	border: 1px solid #DBB5BB;
	border-radius: 10px;
	padding: 5px;
	margin: 10px 0; 
}
.content:hover {
	border: 1px solid #962D3E;
}
.contentPublished {
	padding: 10px;
	background-color: #FFF5E6;
	border-radius: 10px;
	font-family: Roboto;
}
.lang, .tags {
	display: inline-block;
	color: #962D3E;
	padding: 0 5px;
	font-weight: bolder;
}
.tags {
	background-color: #962D3E;
	color: #FFF5E6;
	border-radius: 5px;
	margin: 10px 0;
}
.select_all, .copy, .add_favorite, .commentPublish, .editPubli {
	border: none;
	background-color: #348899;
	border-radius: 10px;
	color: white;
	padding: 5px 15px;
	font-weight: bolder;
	margin: 5px 5px 5px 0;
}
.select_all a {
	color: white;
}
.add_favorite {
	background-color: #DBB5BB;
	color: #962D3E;
}
.zoneComment {
	background-color: #FFF5E6;
}
.zoneDeCode {
	margin: 10px 0;
}
.datePublished {
	font-size: 0.8rem;
}
.titleInPublish {
	border: none;
	border-bottom: 1px solid #962D3E;
}
.inlineButton {
	display: flex;
	flex-direction: row;
}
.deleteBTN {
	color: #962D3E;
	border: none;
	background-color: #FFFDFA;
}
/*.bar {
	display: flex;
	justify-content: flex-start;
	padding: 10px;
}
.bar button {
	padding: 2px 15px;
	margin-right: 10px;
}
.buttonLike, .buttonDislike, .buttonReport {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	padding: 5px 15px;
	border: 0;
	border-radius: 10px;
}
.buttonLike:active, .buttonDislike:active, .buttonReport:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
.buttonLike {
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}
.buttonDislike {
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}
.buttonReport {
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}
*/
/*==============================
=            Footer            =
==============================*/

footer {
	background-color: #EDEDED;
/*	position: fixed;
	width: 100%;
	bottom: 0;*/
}
.minifooter {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-top: 70px;
	padding: 20px;
	font-size: 0.8rem;
	max-width: 700px;
	margin: 0 auto;
}
