/*==============================
=            Global            =
==============================*/
#962D3E
#343642
#979C9C
#F2EBC7
#348899
#EDEDED

html {
	font-size: 62.5%;	
	margin: 0;
	padding: 0;	
}
body {
	background-color: #FFFDFA;
	font-family: 'Roboto', sans-serif;
	line-height: 1.8;
	letter-spacing: 0.5px;
	font-size: 1rem;
	color: #343642;
}
h1, h2, h3 {
	font-family: 'Fjalla One', sans-serif;
	color: #962D3E;
}
.wrapper {
	width: 70%;
	max-width: 700px;
	margin: 0 auto;
	min-height: 757px;
}
@-moz-document url-prefix() {
	.wrapper {
		min-height: 736px;
	}
}
a {
	text-decoration: none;
	color: #348899;
}
.aligner {
	display: flex;
	align-items: center;
	justify-content: center;
}
.alignerItem {
	max-width: 50%;
}

/*==============================
=            Header            =
==============================*/
header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.devnetwork {
	display: flex;
	justify-content: flex-start;
}
.devnetwork img {
	height: 50px;
	padding-right: 10px;
	padding-top: 15px;
}
header h1 {
	color: #962D3E;
}
nav a {
	padding: 10px;
}

/*============================
=            Home            =
============================*/

.home {
	text-align: center;
}
.home input {
	padding: 5px;
	margin: 5px;
}


/*====================================
=            Registration            =
====================================*/

.register {
	text-align: center;
}
.spechrome {
	text-align: right;
}
.register input {
	padding: 5px;
	margin: 5px;
}
.submit {
	margin-top: 20px;
	transition: all 0.5s;
	border: none;
	border-radius: 10px;
	padding: 5px 10px;
	color: white;
	background-color: #962D3E;
}
.spanSubmit {
	display: inline-block;
	position: relative;
	transition: all 0.2s;
}
.spanSubmit:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.2s;
}
.submit:hover .spanSubmit {
	padding-right: 20px;
}
.submit:hover .spanSubmit:after{
	opacity: 1;
	right: 0;
}
@-moz-document url-prefix() {
	.spechrome {
		text-align: center;
	}
}
.mainRegistration {
	margin-bottom: 50px;
}
/*==============================
=            Profil            =
==============================*/

.profil {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}
.encadrement {
	display: flex;
	flex-direction: row;
	padding-bottom: 20px;
	margin-top: 50px;
}
.cadre {
	padding: 30px;
	width: 50%;
	background: hsla(0,0%,100%,.25) border-box;
	box-shadow: 0 0 0 0 hsla(0,0%,100%,.3) inset,
	0 .5em 1em rgba(0, 0, 0, 0.2);
}
.cadre h2 {
	text-align: center;
	margin: 0;
	padding: 5px;
}
.entreprise {
	border-collapse: collapse;
	background-color: #FFFDFA;
	width: 100%;
	text-align: center;
}
.entreprise tr:nth-child(odd) {
	background-color: background-color: #FBAB7E;
	background-image: linear-gradient(45deg, #FFFDFA 0%, #F7CE68 200%);
}
.entreprise tr:nth-child(even) {
	background-color: background-color: #FBAB7E;
	background-image: linear-gradient(45deg, #FFFDFA 0%, #F2EBC7 200%);
}
.entreprise td {
	padding: 0 10px;
}
.identity {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.imageProfil {
	margin-top: 50px;
	height: 125px;
	border-radius: 50%;
	border: 3px solid #962D3E;
}
.skill {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.skill img {
	height: 50px;
	padding: 5px;
}
.biographie {
	padding: 0 15px;
	background: hsla(0,0%,100%,.25) border-box;
	box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset,
	0 .5em 1em rgba(0, 0, 0, 0.2);
	margin: 50px 0 0 0;
	background-color: background-color: #FBAB7E;
	background-image: linear-gradient(180deg, #FFFDFA 0%, #F7CE68 150%);
}
.biographie h3 {
	margin-top: 15px;
}
.mail {
	padding-top: 50px;
}

/*===================================
=            Publication            =
===================================*/

.publication {
	width: 70%;
	max-width: 600px;
	margin: 0 auto;
	min-height: 757px;
}
.publish {
	margin: 0;
	padding: 2px 10px;
	background: hsla(0,0%,100%,.25) border-box;
	box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset,
	0 .5em 1em rgba(0, 0, 0, 0.2);
}
.content p {
	border: 1px solid #962D3E;
	padding: 5px;
	margin: 0;
}
.bar {
	display: flex;
	justify-content: flex-start;
	padding: 10px;
}
.bar button {
	padding: 2px 15px;
	margin-right: 10px;
}
.thumbs-o-up {
	background-color: green;
}


/*==============================
=            Footer            =
==============================*/

footer {
	background-color: #EDEDED;
}
.minifooter {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-top: 70px;
	padding: 20px;
	font-size: 0.8rem;
	max-width: 700px;
	margin: 0 auto;
}


